
<!--    {%- if page.seo_title and page.seo_title != "" %}-->
<!--    <title>{{ page.seo_title }} | {{ site.title }}</title>-->
<!--    <meta property="og:title" content="{{page.seo_title}} - {{site.title}}" />-->
<!--    {%- else %}-->
<!--    <title>{{ page.title }} | {{ site.title }}</title>-->
<!--    <meta property="og:title" content="{{page.title}} - {{site.title}}" />-->
<!--    {%- endif %}-->
<!--    <meta property="og:locale" content="nl_NL" />-->
<!--    <meta property="og:type" content="article" />-->
<!--    <meta property="og:site_name" content="{{site.title}}" />-->


<!--    <meta property="twitter:title" content="{{page.title}} - {{site.title}}" />-->
<!--    <meta property="og:url" content="{{site.url}}{{page.url}}" />-->
<!--    {%- if page.seo_description %}-->
<!--    <meta name="description" content="{{ page.seo_description| strip_html }}" />-->
<!--    <meta property="og:description" content="{{ page.seo_description| strip_html }}" />-->
<!--    {%- else %}-->
<!--    <meta name="description" content="{{ site.description }}">-->
<!--    <meta property="og:description" content="{{ site.description }}" />-->
<!--    {%- endif %}-->



<!--    {%- if 1 == 2%}-->
<!--    <meta property="og:image" content="{{}}" />-->
<!--    <meta property="og:image:secure_url" content="{{}}" />-->
<!--    {%- endif %}-->


<!--    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">-->